{% extends "base.html" %}

{% block title %}Event List{% endblock %}

{% block content %}
<h1 class="table-title">Event List</h1>
<a href="{% url 'create_event' %}" class="button add-button">Add New Event</a>
<table class="event-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Date</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for event in events %}
    <tr>
      <td>{{ event.id }}</td>
      <td>{{ event.name }}</td>
      <td>{{ event.date }}</td>
      <td>{{ event.description }}</td>
      <td class="actions">
        <a href="{% url 'update_event' event.id %}" class="edit-button">Edit</a>
        <a href="{% url 'delete_event' event.id %}" class="delete-button">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
